.container {
	padding: 40px;
}

.emotions {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	padding: 20px;
	flex-basis: auto;
	background-color: pink;
}

.emotion {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 400px;
	height: 400px;
	background-color: grey;
	margin: 10px;
}

.happy {
	height: 75%;
	width: 75%;
	background-color: #ffe600;
	animation: skip 1.5s infinite linear;
}

.drunk {
	height: 60%;
	width: 60%;
	background-color: #4d6d00;
	animation: drunkWalk 3s infinite linear;
  transform-origin: 50% 90%%;
}

.scared {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 90%;
	height: 90%;
	animation:  blushAndPale 5s 1 forwards,
		          shrink 3s 2s 1 forwards,
              shiver 0.05s 5s infinite alternate;
}

.panting {
	background-color: grey;
	animation:  breathe 2s infinite,
		          breathe 0.75s 5s infinite;
}

.excited {
  background-color: #ffe600;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 150px;
	height: 250px;
	border-radius: 25% 25% 0 0;
	animation: jump .2s 3s infinite ease-in;
}

.eye {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: white;
	border-radius: 50%;
	border: 2px solid black;
	margin-top: 40px;
	height: 50px;
	width: 50px;
}

.pupil {
	border-radius: 50%;
	background-color: black;
	height: 20%;
	width: 20%;
}

.belt {
	background-color: blue;
	align-self: flex-end;
	width: 100%;
	height: 100px;
}

.sadness {
	height: 60%;
	width: 60%;
	background-color: #243078;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.tear {
	height: 15px;
	width: 15px;
	background-color: #96cdff;
	margin-top: 33%;
}

.tear-1 {
	animation: fall 1s infinite ease-in;
}

.tear-2 {
	animation:  fall 1s 0.3s infinite ease-in;
}

.embarassed {
	height: 90%;
	width: 90%;
	background: #ffe3c6;
	animation:  shrink 2s 2s 1 forwards,
				      blush 2.5s 4s 1 forwards,
	            throb 1s 6s infinite alternate linear;

}
